html{height:100%;}

body{
	font-family: arial, verdana, sans-serif ;
	font-size: 10pt ;
	color: black ;
	background-color: #DEEBF1;
	height:100%;
}
/* Page d'authentification */
.login{
	/* Centrage de la div */
	position: absolute;
    left: 50%;
    top: 50%;
	width: 380px;
	height: 160px;
	margin-left: -190px; /* Décalage de la moitié de la div */
    margin-top: -80px;
	text-align: left;
	color:black;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	padding:10px;
	-moz-border-radius:10px;
	background-color:white;
	font-weight: bold;
	vertical-align: middle;
}
.login label{
	width: 100px;
	float: left;
	color:black;
	text-align: right;
	padding-right: 5px;
}
.login h2{
	font-size:14px;
	margin:5px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
	background-color: #DEEBF1;
	-moz-border-radius:5px;
}
.login h2:first-letter{color:red;}
.login p{
	margin:5px;
}
.login hr{
	border-width:0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
}
.login a{
	text-decoration: none;
}

.login img{
	float: left;
	padding-top: -80px;
	margin-right: +10px;
	margin-left: 0px;
	margin-top: -8px;
}
/* ----- Zone supérieure ----- */
/* --- Menu principal --- */
#bloc_menu1{
	margin:0;
	width: 100%;
	height:100px;
	background-image:url('/eMagine/common/images/menu.png');
	background-repeat: no-repeat;
	background-position: center;
}
#menu{
	color:white;
	font-size:14px;
	font-weight:bold;
}
ul#menu {
	list-style-type: none;
	padding-top:35px;
	border-style:none;
	text-align:center;
}

#menu li {
	display:inline;
}
#menu a{
	color:white;
	text-decoration:none;
}
#menu a:hover{color:black;}
/* --- Bloc menu préférences --- */
#bloc_menu2{
	margin-top:-25px;
	margin-right:+120px;
}
#menu2{
	color:black;
	font-size:10px;
	font-weight:bold;
}
ul#menu2 {
	list-style-type: none;
	padding-right:20px;
	border-style:none;
	text-align:right;
}
#menu2 li {
	display:inline;
}
#menu2 a{
	color:black;
	text-decoration:none;
}
#menu2 a:hover{color:red;}

/* ----- Zone principale ----- */
#global {
/* pas de largeur définie donc la page va occuper toute la largeur */
}
/* --- Zone de gauche --- */
#left_bloc {
	float: left;
	width: 220px;
	background-color:#DEEBF1;
}
.left{
	background-color:white;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	margin-bottom:10px;
	-moz-border-radius:10px;
}
.left ul{
	list-style-type: none;
	margin:5px;
	padding:0;
	border-style:none;
}
.left a{
	color:black;
	text-decoration:none;
}
.left a:hover{text-decoration:underline;}
.left h2{
	font-size:14px;
	margin:5px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
}
.left h2:first-letter{color:red;}

/* --- Zone de droite --- */
.content {
	width:70%;
	color:black;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	margin-left:230px;
	padding-left:10px;
	padding-right:10px;
	margin-right:30px;
	-moz-border-radius:10px;
	background-color:white;
}
.content p{
	font-size: 10pt ;
	color: black ;
}
.content h2{
	position:relative;
	font-size:12pt;
	margin:5px;
	color:black;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
	line-height:35px;
	
}

.content h2:first-letter{color:red;}
.content h2 img{
	position:absolute;
	right:0;
};

.content h3{
	font-size:10pt;
	margin:5px;
	color:black;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
}
.content h3:first-letter{color:red;}
.content table, tr, td, th{
	text-align:left;
	font-size:10pt;
	color:black;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	padding:0;
	margin:0;
	float:none;
}
.content table{
	border-right-style:none;
	width:90%;
}
.content th{
	color:white;
	padding-left:2px;
	background:url('/eMagine/common/images/fond.gif') repeat-x center 50%;
	border-style:none; 
	text-align: center;
}
#white th{
	background-color: white;
	background-image: none;
	width: 25px;
}
.content td{
	border-left-style:none;
	padding-left:2px;
	border-bottom-style:none;
	background-color:white;
}
.content a{
	font-size:10pt;
	color:black;
	font-weight:bold;
	text-decoration:none;
}
.content a:hover{text-decoration:underline;}
.content img{
	border-style:none;
}
.form{
	font-weight:bold;
	margin:5px;
}
.form label {
	float: left;
	width: 170px;
  	text-align: right;
  	margin-right:5px;
  	font-weight:bold;
}
.form p{
	margin:5px;
	font-weight:normal;
}
.form input {
	font-weight:normal;
	text-align: left;
	float:none;
}
.form select {
	font-weight:normal;
	text-align: left;
	float:none;
}
.form  ul{
	font-weight:normal;
	list-style-type: none;
	margin:5px;
	padding:0;
	border-style:none;
}
.form li {
	display:inline;
}
.form fieldset {
	color:#809AD0;
	font-size:10pt;
	border-width:1pt;
	border-style:solid;
	border-color:#809AD0;
	padding:10px;
	margin-right:10px;
	-moz-border-radius:5px;
}

.form_calendar{
	font-weight:bold;
	float: left;
	width: 150px;
  	text-align: right;
  	margin-right:5px;
  	font-weight:bold;
}
.form_calendar label {
	float: left;
	width: 150px;
  	text-align: right;
  	margin-right:5px;
  	font-weight:bold;
}
.form_calendar p{
	margin:5px;
	font-weight:normal;
}
.form_calendar input {
	font-weight:normal;
	text-align: left;
	float:none;
}
.form_calendar select {
	font-weight:normal;
	text-align: left;
	float:none;
}
.form_calendar  ul{
	font-weight:normal;
	list-style-type: none;
	margin:5px;
	padding:0;
	border-style:none;
}
.form_calendar li {
	display:inline;
}
.form_calendar fieldset {
	color:#809AD0;
	font-size:10pt;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	padding:10px;
	margin-right:10px;
	-moz-border-radius:5px;
}

#actions{}
#actions ul{
	list-style-type: none;
	margin:0px;
	padding-left:0px;
	margin-left:5px;
	border-style:none;
}
#actions li {
	display:inline;
	margin-right:0px;
	margin-right:5px;
}
#actions a{
	font-weight:normal;
}
#actions a:hover{text-decoration:underline;}
#actions img{
	border-width:1px;
	border-style:solid;
	border-color:white;
}
#actions img:hover{
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
}
.search{
	margin:1px;
	width: 630px;
	font-weight:bold;
}
.search p{
	font-weight:bold;
}
.search fieldset {
	color:#809AD0;
	/*background-color:#CCCCFF;*/
	font-size:10pt;
	border-width:0px;
	/*border-style:solid;
	border-color:#DEEBF1;*/
	padding:1px;
	/*-moz-border-radius:5px;*/
}

.search_for_tabs{
	margin:0px;
	width: 630px;
	font-weight:bold;
	border-width:0px;
	border-style: none;
}
.search_for_tabs p{
	font-weight:bold;
	border-width:0px;
	border-style: none;
}
.search_for_tabs fieldset {
	color:#809AD0;
	font-size:10pt;
	border-width:0px;
	border-style: none;
	padding:1px;
}


.search_b1{
	font-weight:normal;
	margin:0px;
	border-width:0px;
	border-right-width:1px;
	border-style:solid;
	border-color:#809AD0;
	width: 300px;
	text-align: left;
	float:left;
	border-style:solid;
	border-color:#DEEBF1;
	margin:1px;
}
.search_b1 p{
	margin:2px;
	font-weight:bold;
}
.search_b1 label{
	width : 120px;
	text-align: right;
	float:left;
	margin-right:5px;
}
.search_b1 input {
	font-weight:normal;
	text-align: left;
	float:none;
}
.search_b1 select {
	font-weight:normal;
	text-align: left;
	float:none;
}

.search_b2{
	font-weight:bold;
	margin:0px;
	border-width:0px;
	width: 300px;
	text-align: left;
	float:left;
	margin:1px;
}
.search_b2 p{
	margin:2px;
}
.search_b2 label{
	width : 120px;
	text-align: right;
	float:left;
	margin-right:5px;
}
.search_b2 input {
	font-weight:normal;
	text-align: left;
	float:none;
}
.search_b2 select {
	font-weight:normal;
	text-align: left;
	float:none;
}

/* Zone à onglets */
.tabs{
   font-weight:normal;
   border-style:none;
   border-width:0px;
   margin:0px;
   padding:0px;
   padding-left:10px;
}
.tabs a{
/* style des liens se trouvant dans un onglet inactif */
  text-decoration:none;
  font-weight:normal;
  }
.tabs a:hover{
/* style des liens se trouvant dans un onglet inactif */
  text-decoration:none;
  font-weight:bold;
  }  
.tabs ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
	margin-top:10px;
	border-style:none;
	text-align:left;
}
.tabs li{
	font-weight:bold;
	background-color:#F1F7FB;
	border-style:solid;
   	border-width:1px;
	border-bottom-width:0px;
	border-color:#809AD0;
	display:inline;
	padding-top:2px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:0px;
}

.tab_clicked {}
.tab_clicked ul {
	list-style-type: none;
	padding:0px;
	margin:0px;
	margin-top:10px;
	border-style:none;
	text-align:left;
	}
.tab_clicked li{
	background-color:#F1F7FB;
	border-style:solid;
   	border-width:1px;
	border-color:#809AD0;
	border-bottom-width:0px;
	display:inline;
	padding-top:2px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:0px;
}
.tab_clicked a{
/* style des liens se trouvant dans un onglet inactif */
  text-decoration:none;
  font-weight:bold;
}

.tabs_div {
    border-color:#809AD0;
    border-style:solid;
    border-width:1px;
	-moz-border-radius:5px;
	font-weight:bold;
	margin:0px;
	margin-bottom:10px;
	/*background-color:#E6F1FF;*/

}

/* ----- Zone inférieure ----- */
#footer {
	text-align:center;
	margin:10px;
	font-size:10px;
	text-align:center;
}
/* ----- Zone résultat ----- à revoir pourl'aligner avec le tableau */
#statSearch{
	color:black;
	font-size:12px;
	font-weight:normal;
	text-align:right;
	padding-bottom:5px;
	width:90%;
}
#statSearch ul{
	list-style-type: none;
	padding-top:35px;
	border-style:none;
	text-align:right;
}
#statSearch li {
	display:inline;
}

.buttons{}
.buttons input{
	float:none;
	border-color:#809AD0;
	background-color: white;
	border-width: 1px;
	border-style:outset;
	color: #809AD0;
	font-weight: bold;
}

.calendar{
	color:white;
}

.calendar table{
	width: 267px;
	border-width: 1px;
	border-style: solid;
	border-color: green;
	border-color:black;
	background-color: #809AD0;
	color:white;
}

.calendar td{
	border-width: 0px;
	border-style: solid;
	border-color: green;
	border-color:black;
	background-color: #809AD0;
}

.calendar a{
	color:white;
	text-decoration:none;
}

/* --- extraction --- */
.extract {
	color:black;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	margin-left:30px;
	padding-left:10px;
	padding-right:10px;
	margin-right:30px;
	-moz-border-radius:10px;
	background-color:white;
	
}
.extract p{
	font-size: 10pt ;
	color: black ;
}
.extract h2{
	position:relative;
	font-size:12pt;
	margin:5px;
	color:black;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
	line-height:35px;
	
}
.extract h2:first-letter{color:red;}
.extract h2 img{
	position:absolute;
	right:0;
}
.extract h3{
	font-size:10pt;
	margin:5px;
	color:black;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
}
.extract h3:first-letter{color:red;}
.extract a{
	font-size:10pt;
	color:black;
	font-weight:bold;
	text-decoration:none;
}
.extract a:hover{text-decoration:underline;}