<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
 		<mapping package="fr.umlv.ir3.emagine.base"/> 
		<mapping class="fr.umlv.ir3.emagine.util.base.BaseEntity"/>
		<mapping class="fr.umlv.ir3.emagine.util.base.EventableEntity"/>

 		<mapping package="fr.umlv.ir3.emagine.Person"/> 
		<mapping class="fr.umlv.ir3.emagine.util.person.Person"/>
		<mapping class="fr.umlv.ir3.emagine.util.Address"/>
		<mapping class="fr.umlv.ir3.emagine.util.EmagineEnum"/>
		
		<mapping package="fr.umlv.ir3.emagine.extraction"/> 
		<mapping class="fr.umlv.ir3.emagine.extraction.ExtractionEntity"/> 
		<mapping class="fr.umlv.ir3.emagine.extraction.ExtractionConfigEntity"/> 
		<mapping class="fr.umlv.ir3.emagine.extraction.ExtractionProperty"/> 

		<mapping package="fr.umlv.ir3.emagine.event"/> 
		<mapping class="fr.umlv.ir3.emagine.event.Event"/>
		<mapping class="fr.umlv.ir3.emagine.event.EventTypeEnum"/>
				
		<mapping package="fr.umlv.ir3.emagine.teachertutor"/> 
		<mapping class="fr.umlv.ir3.emagine.teachertutor.TeacherTutor"/>		
		
		<mapping package="fr.umlv.ir3.emagine.apprentice"/> 
		<mapping class="fr.umlv.ir3.emagine.apprentice.Apprentice"/> 
		<mapping class="fr.umlv.ir3.emagine.apprentice.CountryEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.DefaultAddressEnum"/> 
		<mapping class="fr.umlv.ir3.emagine.apprentice.DepartmentEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.LanguageEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.LevelEntryEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.NationalityEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.SexEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.YearEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.JustificationEnum"/>
		
		<mapping package="fr.umlv.ir3.emagine.apprentice.candidate"/> 
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.Candidate"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.CourseOptionEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.ProfessionEnum"/>
 				
		<mapping package="fr.umlv.ir3.emagine.apprentice.candidate.examcenter"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.examcenter.FormationCenter"/>
 		
		<mapping package="fr.umlv.ir3.emagine.apprentice.candidate.room"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.room.Room"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.DiplomaEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.ContactEnum"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.SectionEnum"/>
		
		<mapping package="fr.umlv.ir3.emagine.firm"/>
		<mapping class="fr.umlv.ir3.emagine.firm.Firm"/>
		<mapping class="fr.umlv.ir3.emagine.firm.Job"/>

		<mapping package="fr.umlv.ir3.emagine.firm.actor"/>		
		<mapping class="fr.umlv.ir3.emagine.firm.actor.FirmActor"/>
		<mapping class="fr.umlv.ir3.emagine.firm.actor.EngineerTutor"/>
 	
		<mapping package="fr.umlv.ir3.emagine.extraction.mailings"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.mailings.MailingList"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.mailings.Attachment"/>
		
		<mapping package="fr.umlv.ir3.emagine.extraction.mailstype"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.mailstype.MailingType"/>
 		
		<mapping package="fr.umlv.ir3.emagine.extraction.massmailing"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.massmailing.MassMailing"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.massmailing.Model"/>
 		
		<mapping package="fr.umlv.ir3.emagine.modification"/>
		<mapping class="fr.umlv.ir3.emagine.modification.Modification"/>
		<mapping class="fr.umlv.ir3.emagine.modification.FieldModification"/>
		<mapping class="fr.umlv.ir3.emagine.modification.EditableEntity"/>
		<mapping class="fr.umlv.ir3.emagine.modification.EditableStateEnum"/>
	
		<mapping package="fr.umlv.ir3.emagine.user"/>
		<mapping class="fr.umlv.ir3.emagine.user.User"/>
 		
		<mapping package="fr.umlv.ir3.emagine.profile"/>
		<mapping class="fr.umlv.ir3.emagine.user.profile.Profile"/>
		<mapping class="fr.umlv.ir3.emagine.user.profile.Right"/>
		
		<mapping package="fr.umlv.ir3.emagine.statistic"/>
		<mapping class="fr.umlv.ir3.emagine.statistic.Statistic"/>		
 		
		<mapping package="fr.umlv.ir3.emagine.apprentice.absence"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.absence.Absence"/>				
 		
		<mapping package="fr.umlv.ir3.emagine.teachertutor"/>
		<mapping class="fr.umlv.ir3.emagine.teachertutor.TeacherTutor"/>
						
    </session-factory>
</hibernate-configuration>
