<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<!--  Configuration de la base de données, à mettre dans un environement managé -->
        <property name="hibernate.cglib.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">eMagine</property>
        <property name="hibernate.connection.url">jdbc:postgresql://server.srv-net.com:54321/eMagine</property>
        <property name="hibernate.connection.username">eMagine</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.autocommit">false</property>
        
        <!--  
        <property name="hibernate.connection.showsql">true</property>
       	<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        -->
         
 		<mapping package="fr.umlv.ir3.emagine.base"/> 
		<mapping class="fr.umlv.ir3.emagine.util.base.BaseEntity"/>
		<mapping class="fr.umlv.ir3.emagine.util.base.EventableEntity"/>
  			
 		<mapping package="fr.umlv.ir3.emagine.Person"/> 
		<mapping class="fr.umlv.ir3.emagine.util.person.Person"/>
		<mapping class="fr.umlv.ir3.emagine.util.Address"/>
		
		<mapping package="fr.umlv.ir3.emagine.event"/> 
		<mapping class="fr.umlv.ir3.emagine.event.Event"/>
		
		<mapping package="fr.umlv.ir3.emagine.teachertutor"/> 
		<mapping class="fr.umlv.ir3.emagine.teachertutor.TeacherTutor"/>		
		
		<mapping package="fr.umlv.ir3.emagine.apprentice"/> 
		<mapping class="fr.umlv.ir3.emagine.apprentice.Apprentice"/> 
		<mapping class="fr.umlv.ir3.emagine.apprentice.Contact"/>
		<mapping package="fr.umlv.ir3.emagine.apprentice.candidate"/> 
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.Candidate"/>
 				
		<mapping package="fr.umlv.ir3.emagine.apprentice.candidate.examcenter"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.examcenter.FormationCenter"/>
 		
		<mapping package="fr.umlv.ir3.emagine.apprentice.candidate.room"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.candidate.room.Room"/>
		
		<mapping package="fr.umlv.ir3.emagine.firm"/>
		<mapping class="fr.umlv.ir3.emagine.firm.Firm"/>
		<mapping class="fr.umlv.ir3.emagine.firm.Job"/>

		<mapping package="fr.umlv.ir3.emagine.firm.actor"/>		
		<mapping class="fr.umlv.ir3.emagine.firm.actor.FirmActor"/>
		<mapping class="fr.umlv.ir3.emagine.firm.actor.EngineerTutor"/>
 	
		<mapping package="fr.umlv.ir3.emagine.extraction.mailings"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.mailings.MailingList"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.mailings.Attachment"/>
		
		<mapping package="fr.umlv.ir3.emagine.extraction.mailstype"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.mailstype.MailingType"/>
 		
		<mapping package="fr.umlv.ir3.emagine.extraction.massmailing"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.massmailing.MassMailing"/>
		<mapping class="fr.umlv.ir3.emagine.extraction.massmailing.Model"/>
 		
		<mapping package="fr.umlv.ir3.emagine.modification"/>
		<mapping class="fr.umlv.ir3.emagine.modification.Modification"/>
		<mapping class="fr.umlv.ir3.emagine.modification.FieldModification"/>
		<mapping class="fr.umlv.ir3.emagine.modification.EditableEntity"/>
 		
		<mapping package="fr.umlv.ir3.emagine.user"/>
		<mapping class="fr.umlv.ir3.emagine.user.User"/>
 		
		<mapping package="fr.umlv.ir3.emagine.profile"/>
		<mapping class="fr.umlv.ir3.emagine.user.profile.Profile"/>
		<mapping class="fr.umlv.ir3.emagine.user.profile.Right"/>
		
		<mapping package="fr.umlv.ir3.emagine.statistic"/>
		<mapping class="fr.umlv.ir3.emagine.statistic.Statistic"/>		
 		
		<mapping package="fr.umlv.ir3.emagine.apprentice.absence"/>
		<mapping class="fr.umlv.ir3.emagine.apprentice.absence.Absence"/>				
 		
		<mapping package="fr.umlv.ir3.emagine.teachertutor"/>
		<mapping class="fr.umlv.ir3.emagine.teachertutor.TeacherTutor"/>				

    </session-factory>
</hibernate-configuration>
